#!/usr/bin/env bash

# Inspired by https://github.com/mathiasbynens/dotfiles/blob/main/.aliases

alias cd="z"
alias ..="cd .."
alias cat="bat --theme auto:system --theme-dark default --theme-light GitHub"

alias update="sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup"
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
alias spotoff="sudo mdutil -a -i off"
alias spoton="sudo mdutil -a -i on"

alias gd="git checkout develop && git pull && git fetch --prune"
alias gm="git checkout main && git pull && git fetch --prune"
